tools/
.DS_Store
*.out
mighdoll**/
mighdoll**.zip
node_modules/
target/
pnpm-lock.yaml
projects/06/**/*.hack
zig-cache
zig-out
projects/07/**/*.asm
projects/08/**/*.asm
dist-newstyle/
projects/09/**/*.vm
projects/10/*/*Mine.xml
projects/11/*/*.vm