tools/
node_modules/
target/
dist-newstyle/
.zig-cache
zig-out
projects/06/**/*.hack
projects/07/**/*.asm
projects/08/**/*.asm
projects/09/**/*.vm
projects/10/*/*Mine.xml
projects/11/*/*.vm
projects/12/*/*.vm
projects/12/**/*.vm
